.about {
  background-image: url("../../static/imgs/banner/banner-1.jpg");
  background-repeat: repeat-x;
  background-position: top center;
  margin-top: 4rem;
  padding: 10rem 0;
  position: relative;
  cursor: pointer;

  @include Responsive(XS) {
    background-position: 85%;
    padding: 2rem 0;
    margin-top: 3rem;
  }

  @include Responsive(MD) {
    background-position: 100%;
    padding: 2rem 0;
    margin-top: 3rem;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $transparentWhite;
    top: 0;
  }

  .content-about {
    padding: 1rem;
    background: #000000b3;
    border-radius: 0.8rem;
    border: 0.5px solid $main-color;
    position: relative;
    z-index: 1;

    @include Responsive(XS) {
      background-color: #00000082;
    }

    .heading-section {
      h2 {
        color: $main-color;
        font-size: 3rem;

        @include Responsive(XS) {
          font-size: 1.5rem;
        }
      }
    }

    .description {
      line-height: 2;
      color: $white;
      margin-bottom: 0;
    }

    .lists-item {
      list-style: none;
      padding-left: 0;

      @include Responsive(XS) {
        margin-top: 1rem !important;
      }
      .item {
        line-height: 2;

        a {
          color: $main-color;
        }

        i {
          margin-right: 0.8rem;
        }
      }
    }
  }
}
