.about {
  background-image: url("../../static/imgs/banner/banner-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: 4rem;
  padding: 10rem 0;

  .content-about {
    padding: 1rem;
    background: #000000b3;
    border-radius: .8rem;
    border: .5px solid $main-color;

    .heading-section {
      h2 {
        color: $main-color;
        font-size: 3rem;
      }
    }

    .description {
      line-height: 2;
      color: $white;
      margin-bottom: 0;
    }

    .lists-item {
      list-style: none;
      padding-left: 0;
      .item {
        line-height: 2;
        
        a {
          color: $main-color;
        }

        i {
          margin-right: .8rem;
        }
      }
    }
  }
}
