.carousel {
  margin-top: 5rem;

  @include Responsive(XS) {
    overflow: hidden;
  }
  @include Responsive(MD) {
    overflow: hidden;
  }
  .react-3d-carousel {
    height: 70vh !important;

    @include Responsive(XS) {
      height: 30vh !important;
    }

    @include Responsive(MD) {
      height: 35vh !important;
    }

    .slider-container {
      height: 100% !important;

      .slider-content {
        height: 100% !important;

        @include Responsive(XS) {
          width: 100%;
        }

        @include Responsive(MD) {
          width: 100%;
        }

        .slider-single {
          height: 100% !important;

          div {
            border: none !important;

            i {
              color: $main-color;
            }
          }

          .slider-left,
          .slider-right {
            display: none !important;
          }

          .slider-single-content {
            height: 100% !important;
            border-radius: 0.8rem;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }

  .content {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    background: #00000067;
    color: $white;
    padding: 1.5rem;
    border-radius: 0.8rem;
    width: 70%;
    @include Transitions(0.6s);

    @include Responsive(XS) {
      width: 90%;
      padding: .8rem;

      p {
        @include Responsive(XS) {
          margin-bottom: 0;
        }
      }
    }

    .title {
      font-family: "Great Vibes", cursive;
      color: $main-color;
      text-transform: capitalize;
      h2 {
        @include Responsive(XS) {
          margin-bottom: 0;
        }
      }
    }

    .button {
      @include Responsive(XS) {
        display: none;
      }
    }

    &:hover {
      background: $white;
      color: $black;
    }
  }
}
