
.footer {
  margin-top: 4rem;
  background-color: $gray;
  padding: 2.5rem 1rem .5rem 1rem;
  line-height: 2;

  .footer-layout {
    padding: 0;
  }

  h3 {
    color: $main-color;
    font-size: 1.5rem;
  }

  .company {
    @include Responsive(XS) {
      margin-bottom: 1rem;
      border-bottom: 1px solid $main-color;
    }

    .social {
      i {
        margin: 0 .5rem;
        font-size: 1.2rem;
        color: $main-color;
        @include Transitions(1s);
        &:hover {
          transform: rotateY(360deg);
        }
      }
    }
  
    .address, .phone {
      p {
        margin-bottom: 0;
      }

      i {
        font-size: .5rem;
      }
      i.phone {
        font-size: 1rem;
        margin-right: .5rem;
      }
    }
  }


  .sevices {
    @include Responsive(XS) {
      margin-bottom: 1rem;
      border-bottom: 1px solid $main-color;
    }
    ul {
      padding-left: 0;
      list-style: none;
      margin-bottom: 0;

      a {
        color: $black;
      }
    }
  }

  .location {
    .map {
      border-radius: .8rem;
      overflow: hidden;
      border: 1px solid $main-color;
      height: 15rem;
    }
  }

  .copy-right {
    .title {
      color: $main-color;
      font-size: 1.2rem;
      font-family: 'Great Vibes', cursive;
    }

    a {
      @include Responsive(XS) {
        display: block;
      }
    }
  }

}