.nav-bar {
  height: 4rem;
  background: $white;
  z-index: 5;
  width: 100%;
  position: fixed;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  top: 0;
  .logo {
    flex-basis: 40%;
    .logo-wapper {
      width: 13%;
      border-radius: 50%;
      img {
        width: 80%;
        height: 80%;
        object-fit: cover;
      }
    }

    h3 {
      font-family: "Great Vibes", cursive;
      font-weight: 700;
      margin-bottom: 0;
      color: $main-color;
    }
  }

  .list-menu {
    ul {
      padding-left: 0;
      margin-bottom: 0;
      .item {
        cursor: pointer;
        color: $black;
        display: inline-block;
        position: relative;
        @include Transitions(0.6s);

        &::before {
          content: "";
          position: absolute;
          background-color: $main-color;
          visibility: hidden;
          transform: scaleX(0);
          @include Transitions(0.6s);
          height: 0.05rem;
          bottom: -10px;
          opacity: 1;
          left: 0;
          width: 100%;
        }

        &:hover {
          color: $main-color;
          &::before {
            visibility: visible;
            transform: scaleX(1);
          }
        }

        li {
          list-style-type: none;
        }
      }

      .active {
        color: $main-color;
      }
    }
  }
}
