.navbar-mobile {
  position: fixed;
  z-index: 5;
  top: 0;
  background-color: $main-color;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-image: radial-gradient(circle 610px at 5.2% 51.6%, #050872 0%, #070335 97.5%);

  @include Responsive(LG) {
    display: none;
  }

  .logo {
    flex-basis: 12%;

    @include Responsive(SM) {
      flex-basis: 7%;
    }

    @include Responsive(MD) {
      flex-basis: 6%;
    }

    img {
      width: 100%;
      object-fit: cover;
      animation: logoRotate 6s infinite linear;
    }
  }

  .trademark {
    cursor: pointer;
    h5 {
      font-family: "Great Vibes", cursive;
      margin-bottom: 0;
      font-size: 1.5rem;
      color: $main-color;

      @include Responsive(MD) {
        font-size: 2rem;
      }
    }
  }

  .menu {
    cursor: pointer;
    flex-basis: 10%;
    text-align: center;

    i {
      font-size: 1.5rem;
      color: $main-color;
    }

    .icon-close {
      font-size: 1.8rem;
    }
  }
}

.list-menu-mobile {
  position: fixed;
  background-image: radial-gradient(circle 610px at 5.2% 51.6%, #050872 0%, #070335 97.5%);
  width: 100vw;
  height: fit-content;
  top: 4rem;
  z-index: 4;
  @include Transitions(0.6s);
  transform: translateY(-110%);
  opacity: 0;

  @include Responsive(MD) {
    width: 35vh;
    height: 100vh;
    right: 0;
    transform: translateX(110%);
  }

  .menu-wapper {
    list-style: none;
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
    .item {
      color: $main-color;
      font-size: 1.2rem;
      border-bottom: 1px solid $black;
      li {
        border-bottom: 1px solid rgba(246, 223, 52, 0.26);
        margin: 0 .75rem;
      }
    }
  }
}

.active-list-menu-mobile {
  transform: translateY(0%);
  opacity: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.navbar-mobile-active {
  box-shadow: none;
  border-bottom: 1px solid $black;
}

.overlay-navbar {
  position: fixed;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: $transparentGray;
  display: none;
  top: 0;
}

.overlay-navbar-active {
  display: block;
}

@keyframes logoRotate {
  to {
    transform: rotate(0);
  }
  from {
    transform: rotate(359deg);
  }
}