.navbar-mobile {
  position: fixed;
  z-index: 5;
  top: 0;
  background-color: $main-color;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  .logo {
    flex-basis: 10%;
    img {
      width: 100%;
    }
  }

  .trademark {
    h5 {
      font-family: "Great Vibes", cursive;
      margin-bottom: 0;
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  .menu {
    flex-basis: 10%;
    text-align: end;

    i {
      font-size: 1.5rem;
    }

    .icon-close {
      font-size: 1.8rem;
    }
  }
}

.list-menu-mobile {
  position: fixed;
  background-color: $main-color;
  width: 100vw;
  height: fit-content;
  top: 4rem;
  z-index: 4;
  @include Transitions(0.6s);
  transform: translateY(-110%);
  opacity: 0;

  .menu-wapper {
    list-style: none;
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
    .item {
      color: $black;
      font-size: 1.2rem;
      font-weight: 600;
      border-bottom: 1px solid $black;
      li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.26);
        margin: 0 .75rem;
      }
    }
  }
}

.active-list-menu-mobile {
  transform: translateY(0%);
  opacity: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.navbar-mobile-active {
  box-shadow: none;
  border-bottom: 1px solid $black;
}

.overlay-navbar {
  position: fixed;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: $transparentGray;
  display: none;
}

.overlay-navbar-active {
  display: block;
}