.blog-page {
  .title {
    h3 {
      color: $main-color;
      font-size: 3rem;

      @include Responsive(XS) {
        font-size: 2.5rem;
      }
    }
  }
}

.blog-detail-page {
  .container-detail-blog {
    margin-top: 4rem;

    .layout-page {
      @include Responsive(XS) {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
      }
    }

    .recent-blog {
      .recent-item {
        display: flex;
        justify-content: space-between;
        .img {
          flex-basis: 40%;
          img {
            width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
          }
        }

        .title {
          text-align: start;
          p {
            margin-bottom: 0;
          }
        }
      }
    }

    .content {
      
      img {
        width: 100%;
      }

      p {
        text-align: justify;
      }
    }
  }
}
