.header-page {
  background-position: 50%;
  background-size: cover;
  margin-top: 4rem;
  height: 60vh;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: $transparentWhite;
    position: absolute;
    top: 0;
    z-index: 0;
  }
  .header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    .title {
      font-size: 5rem;
      color: $main-color;
      font-family: 'Great Vibes', cursive;
      text-transform: capitalize;
    }

    .breadcrumbs {
      text-transform: uppercase;
      font-size: 1.2rem;

      a {
        color: $main-color;
        font-weight: 600;
      }

      span {
        font-weight: 600;
      }
    }
  }
}
